#board {
  height: 200px;
  width: 500px;
  border: 3px black solid;
  background-color: lightpink;
  position: relative;
}

#timer {
    font-size: medium;
  border: 1px black solid;
  position: relative;
}

.button {
   position: relative;
   top: 75%;
   left: 20%;
   width: 20%;

}
